# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
venv/
.env

# Jupyter
.ipynb_checkpoints

# IDE
.vscode/
.idea/
.DS_Store

# Python build artifacts
build/
dist/
*.egg-info/

# Logs
*.log

# OS files
Thumbs.db
